{% extends 'base.html.twig' %}

{% block title %}RAVEUR - Panier
{% endblock %}


{% block body %}
	{% if app.user  %}
	<div class="container">
		<div class="row">

				<h2>Votre Panier</h2>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Image</th>
							<th scope="col">Prix</th>
							<th scope="col">Quantité</th>
							<th scope="col">Total</th>
							<th scope="col">Supprimer article</th>
						</tr>
					</thead>

					<tbody>
						{% for item in items %}

							<tr>
								<td>{{ item.article.denomination }}</td>
								<td>
									<div class="image-recap">
										<img src="{{ asset('img/' ~ item.article.image) }}" class="card-img-top" alt="{{ item.article.denomination }}">
									</div>
								</td>
								<td>{{ item.article.prix }}
									€</td>
								<td>{{ item.quantite }}</td>
								<td>{{ item.article.prix * item.quantite}}
									€</td>
								<td>
									<a href="{{ path('panier_supprimer', {'id': item.article.id})}}" class="btn btn-danger sm">
										<i class="fas fa-trash"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3" class="text-right">
								<b>TOTAL</b>:															
								<b>{{ amount }}</b></td>
								<td>€</td>
							<td><p class="center"><a class="btn-action mya" href="{{ path("paiement") }}">Acheter</a></p></td>
						</tr>
					</tfoot>
				</table>
				
	 			
			<div class="col-6">
		{% else %}
				<form method="post" id="payment-form">
					Vous avez déja un compte ?
					<b>
						<a href="{{ path('app_login') }}">Connexion</a>
					</b>
			{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/">
</script>
<script src="/js/stripeCustom.js"></script>
{% endblock %}
