{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}


{% block body %}

<h1>PANIER</h1>


<div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
    <h2>Votre Panier</h2>
      <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total</th>
                    <th scope="col">Supprimer article</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
              
                <tr>
                  <td>{{ item.article.denomination }}</td>
                  <td>{{ item.article.prix }} €</td>
                  <td>{{ item.quantite }}</td>
                  <td>{{ item.article.prix * item.quantite}} €</td>
                  <td> <a href="{{ path('panier_supprimer', {'id': item.article.id})}}" class="btn btn-danger sm">
                  <i class="fas fa-trash"></i>
                  </a>
                  </td>
                </tr>
                  {% endfor %}
            </tbody>
            <tfoot>
            <tr>
            <td colspan="3" class="text-right"><b>TOTAL</b> :</td>
            <td> <b>{{ total }}</b> €</td>
            <td></td>
            </tr>
            </tfoot>
        </table>
        <button id="checkout-button" class="btn btn-primary">Valider mon panier</button>

    </div>
</div>

{% block javascripts %}  
 <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51L6amqAgDjI611jfkC9SsiE0w6baBhIa3nEGxdDXz8CnGKNDYdHeA1qGo0OfQjc0tVMeqhtnGcroaVENsiIn0Tqf00z6SbQv3y');
        let checkoutButton = document.querySelector("#checkout-button");
            console.log(checkoutButton);
        checkoutButton.addEventListener("click", function () {
            fetch("{{ path('checkout') }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}

{% endblock %}
