{% extends 'base.html.twig' %}

{% block title %}
RAVEUR - Accueil
{% endblock %}

{% block body %}

<main>
	<div class="contenant">
		<video id="background-video" preload="auto" autoplay loop muted>
			<source src="{{ asset('img/neon.mp4') }}" type="video/mp4">
		</video>
		<div class="texte_centre"><a href="{{ path('produit_categorie', { 'id': 3 }) }}">COLLECTION NEON</a></div>
	</div>


	<div class="searchbar">
		{{ form(formArticle)}}
	</div>

	<table border="0" width="100%">
		<tr>
			<td width="50%" align="center">
				<div class="example">
					<img src="{{ asset('img/femme-coeur.jpg') }}" width="300" height="500" alt="femme coeur" />
					<a href="{{path('produit_categorie',{'id':2})}}">
						<div class="content">
							<div class="text">Femme</div>
						</div>
				</div>
				</a>
			</td>
			<td width="50%" align="center">
				<div class="example">
					<img src="{{ asset('img/homme-neon.jpeg') }}" width="300" height="500" alt="homme neon" />
					<a href="{{path('produit_categorie',{'id':1})}}">
						<div class="content">
							<div class="text">Homme</div>
						</div>
				</div>
				</a>
			</td>
		</tr>
	</table>

	<h1 class="perfectionnez">NOUVEAUTES</h1>

	<div class="main-carousel"
		data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "prevNextButtons": false, "autoPlay": 1500 }'>

		{% for article in articles %}
		<div class="carousel-cell">
			<a href="{{ path('produit_detail', {'id' : article.id}) }}"><img src="{{ asset('img/' ~ article.image) }}"
					alt="{{ article.denomination }}" height="500px"></a>
			<div class="denomination-card">
				<p>{{ article.denomination }}</p><br>
				<p>{{ article.prix }} €</p>
			</div>

		</div>
		{% endfor %}
	</div>

	<div class="container-turbo">
		<div class="row">
			<a href="{{path('produit_categorie',{'id':4})}}">
				BIJOUX
			</a>
			<a href="{{path('produit_categorie',{'id':7})}}">
				ACCESSOIRES
			</a>
			<a href="{{path('produit_categorie',{'id':5})}}">
				CHAPEAUX
			</a>
		</div>
	</div>
	<div class="contenair-fesival">
		<div class="row">
			<div class="col-6">
				<div class="textefes"><a href="{{ path('produit_categorie', { 'id': 6 }) }}">DECOUVREZ LES ESSENTIELLES
						DE FESTIVAL</a></div>
			</div>
			<div class="col-6">
				<div class="festival">

					<a href="{{ path('produit_categorie', { 'id': 6 }) }}">
						<img src="{{ asset('img/festivalimg.jpg') }}" width="500" height="500" alt="festival" />
					</a>
				</div>
			</div>
		</div>
	</div>

</main>
{% endblock %}

{% block javascript %}
<script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
<script>
	const clearInput = () => {
		const input = document.getElementsByTagName("input")[0];
		input.value = "";
	}

	const clearBtn = document.getElementById("clear-btn");
	clearBtn.addEventListener("click", clearInput);
</script>

{% endblock %}