{% extends 'base.html.twig' %}

{% block title %}
RAVEUR
{% endblock %}

{% block body %}

<main>
	
<div class="contenant">
  <img id="imgaccueil" src="img/accueil.jpeg" alt="accueil-raveur">
  <div class="texte_centre"><a href="{{ path('produit_categorie', { 'id': 3 }) }}">COLLECTION NEON</a></div>
</div>

{{ form(formArticle)}}

<table border="0" width="100%">
	<tr>		
		<td width="50%" align="center">
			<div class="example">
				<img src="{{ asset('img/femme-coeur.jpg') }}" width="300" height="500" alt="femme coeur" />
				<a href="{{path('produit_categorie',{'id':2})}}">
					<div class="content">
					<div class="text">Femme</div>
				</div>
			</div>
			</a>
		</td>
		<td width="50%" align="center">
			<div class="example">
			<img src="{{ asset('img/homme-neon.jpeg') }}" width="300" height="500" alt="homme neon" />
			<a href="{{path('produit_categorie',{'id':1})}}">	
			<div class="content">
				<div class="text">Homme</div>
				</div>
			</div>
			</a>
		</td>
	</tr>
</table>

	<h1 class="perfectionnez">NOUVEAUTES</h1>

	{# https://flickity.metafizzy.co/  UTILISER CE CAROUSEL VOIR OPTION FREESCROL #}


  <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "prevNextButtons": false, "autoPlay": 1500 }'>
	
	{% for article in articles %}
		<div class="carousel-cell">
			<img src="{{ asset('img/' ~ article.image) }}" alt="" height="600px" >
			<div class="denomination-card">
			<p>{{ article.denomination }}</p><br>
			<p>{{ article.prix }} €</p>
			</div>
			
		</div>
	{% endfor %}
  </div>

<div class="container">
<div class="row">
<div class="col-7">
	<img src="{{ asset('img/accessoire.jpg') }}" width="700" height="800" alt="accessoires" />
	</div>
	<div class="col-5">
	<img src="{{ asset('img/chapeau.jpg') }}" width="400" height="400" alt="chapeaux" />
	<img src="{{ asset('img/bijoux6662322.jpg') }}" width="400" height="400" alt="bijoux" />
	</div>
	</div>
	</div>


<video id="background-video" autoplay loop muted>
  <source src="{{ asset('img/festival.mp4') }}" type="video/mp4">
</video>

<div class="content">
<h1>COLLECTION FESTIVAL</h1>
<h2>Découvrir</h2>
<button id="btnVideo" onclick="playAndPause()">II</button>
</div>


</main>
	{% endblock %}

{% block javascript %}
<script>
var video = document.getElementById("background-video");
var btn = document.getElementById("btnVideo");

function playAndPause () {
  if (video.paused) {
    video.play();
    btn.innerHTML = "II";
  } else {
    video.pause();
    btn.innerHTML = "Play ▶";
  }
}
</script>
{% endblock %}