{% extends 'base.html.twig' %}

{% block title %}RAVEUR - Récapitulatif du panier{% endblock %}

{% block body %}

<section class="paiement">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">

            <ul class="navbar-nav">

              <li class="nav-item">
                 &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i><br>
                PANIER
              </li>
              <li class="nav-item">
                &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i><br>
                INFORMATIONS
              </li>
              <li class="nav-item">
               &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-truck-fast"></i><br>
                LIVRAISON
              </li>
              <li class="nav-item">
                &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-credit-card"></i><br>
                PAIEMENT
              </li>
              <li class="nav-item">
               &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-face-grin-hearts"></i><br>
                VALIDATION
              </li>

            </ul>
       
        </nav>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-6">
        <div class="paiement-express">
          <h2>PAIEMENT EXPRESS</h2>
          <i class="fa-brands fa-apple-pay"></i>
          APPLE PAY
          <i class="fa-brands fa-amazon-pay"></i>
          AMAZON PAY
          <i class="fa-brands fa-google-pay"></i>
          GOOGLE PAY
        </div><br>
        <div class="trait"></div>

        <h2>INFORMATIONS DE CONTACT</h2>

        Vous avez déja un compte ? <b> Connexion </b>
        <h2>INFORMATIONS DE LIVRAISON</h2>
        FORM LIVRAISON<br>

        <button type="button" class="btn btn-dark">EN ROUTE VERS LE MODE DE LIVRAISON ----></button>
      </div>

      <div class="contrainer-recap">
        <div class="col-6">
          <h1>RECAPITULATIF PANIER</h1>
          {% for item in items %}
          <div class="image-recap">
            <img src="{{ asset('img/' ~ item.article.image) }}" class="card-img-top"
              alt="{{ item.article.denomination }}">
          </div>
          <div class="info-recap">
            {{ item.article.denomination }}<br>
            {{ item.article.prix }} €<br>
            {{ item.article.taille }}<br>
          </div>

          {% endfor %}

          <form action="#" method="post">

          </form>
          <br>
          <div class="trait"></div>

          CODE PROMO :<br>
          <input type="text"> <button type="button" class="btn btn-dark">GO</button><br>
          <div class="trait"></div><br>
          <b>TOTAL</b> :
          <b>{{ total }}</b> €
        </div>

      </div>

    </div>
</section>
{% endblock %}