{% extends 'base.html.twig' %}

{% block title %}Rechercher un article{% endblock %}

{% block body %}

<section>


  </article>
</section>

<hr>

<div class="cards-align">
  {% for article in articlesFound %}

  <div class="card" style="width: 18rem;">
    <img src="{{ asset('img/' ~ article.image) }}" class="card-img-top" alt="{{ article }}">
    <div class="card-body">
      <h5 class="card-title">{{ article }}
      					{% if article.nouveau %}
					<div class="text text-warning">Nouveau !</div>
					{% endif %}
					{% if article.tendance %}
					<div class="text text-warning">Tendance !</div>
					{% endif %}
      
      </h5>
      <p class="card-text">{{ article.prix }}€<br>
        <a href="{{ path('produit_detail', {'id' : article.id}) }}" class="btn btn-primary">Acheter</a>
      </p>
    </div>
  </div>


  {% endfor %}
</div>


{% endblock %}