<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}RAVEUR - E commerce de vêtements et d'accesoire festifs{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/3f1f47ed70.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('js/swiper.js') }}"></script>
    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar">
            <div id="logo">
                <a href="{{path('app_home')}}"><img src="{{ asset('img/logo.jpg') }}" alt="logo-rave"></a>
            </div>
            <ul>
                <li class="btnNav"><a href="{{ path('produit_categorie', { 'id': 1 }) }}">HOMME</a></li>
                <li class="btnNav"><a href="{{ path('produit_categorie', { 'id': 2 }) }}">FEMME</a></li>
                  <li class="btnNav"><a href="{{ path('produit_categorie', { 'id': 6 }) }}">FESTIVAL</a></li>
                 <li class="btnNav"><a href="{{ path('produit_categorie', { 'id': 3 }) }}">NEON</a></li>
                   <li class="btnNav"><a href="{{ path('produit_categorie', { 'id': 4 }) }}">BIJOUX</a></li>
                <li class="btnNav"><a href="{{ path('produit_categorie', { 'id': 7 }) }}">ACCESSOIRES</a></li>
               
                
                <li class="btnNav"><input type="text" class="Recherche" placeholder="Vous cherchez ?"></li>
                <li class="btnNav"><button type="submit" class="searchButton"> <i class="fa fa-search"></i></li>

                </button>

                <li class="btnNav"><a href="{{ path('panier') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="btnNav"><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>

        </nav>
        {% block body %}{% endblock %}
</body>

</html>