{% extends 'base.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('js/checkout.css') }}"/>
{% endblock %}

{% block title %}Récapitulatif de votre commande
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-6">
			 {{ form_start(formCommande, {'attr': {'class': 'form-full'}} ) }}
                <h1 class="titre">Informations de Livraison</h1>
                <div>{{ form_label(formCommande.adresse_livraison) }}<br>{{ form_widget(formCommande.adresse_livraison) }}</div>
                <div>{{ form_label(formCommande.cp_livraison) }}<br>{{ form_widget(formCommande.cp_livraison) }}</div>
                <div>{{ form_label(formCommande.ville_livraison) }}<br>{{ form_widget(formCommande.ville_livraison) }}</div>
                <div>{{ form_label(formCommande.pays_livraison) }}<br>{{ form_widget(formCommande.pays_livraison) }}</div>

                {{ form_end(formCommande) }}
            </div>
            </div>

</div>
</div>
</div>

{% endblock %}
{% block javascripts %}
	<script src="https://js.stripe.com/v3/"></script>
	<script src="/js/checkout.js" defer></script>

{% endblock %}
